html {
	font-family: 'Roboto', sans-serif;
	background-color: #F3FAB6;
	animation: bg-color 10s;
	animation-iteration-count: infinite;
}

body {
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.3);
	padding: 20px;
	border-radius: 5px;
}

@keyframes bg-color {
	0% { background-color: #F3FAB6 }
	50% { background-color: #CBE32D }
	100% { background-color: #F3FAB6 }
}

.publisher-logo {
	width: 100px;
}